body {
  padding: 0px;
  margin: 0px;
}

#map {
  width: 500px;
  height: 350px;
  min-height: 100%;
  min-width: 100%;
  display: block;
}
#mapB {
  width: 500px;
  height: 350px;
  min-height: 100%;
  min-width: 100%;
  display: block;
}

html, body {
  height: 100%;
}

#map-holder {
  height: 100%;
}
#map-holderB {
  height: 100%;
}
.fill {
  min-height: 100%;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.mapcontainer {
  max-width: 60 em;
  padding: .2em;
}

.mapcontainerB {
  max-width: 60 em;
  padding: .2em;
}

.fillB {
  min-height: 100%;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

.aligncenter {
	text-align: center;
}
/* New paramters */

body {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  margin: 10px;
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 0.85em;
  margin: 10px;
  text-align: left;
}
.top-buffer { margin-top:20px; }

/**
* Create a position for the map
* on the page */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/**
* Set rules for how the map overlays
* (info box and legend) will be displayed
* on the page. */
.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

#features {
  top: 0;
  height: 100px;
  margin-top: 20px;
  width: 250px;
}

#legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 150px;
  margin-bottom: 40px;
  width: 100px;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}


/* Vida css paramters */



#canvas svg {
  border: 0px;
}